[user]
	email = chris.morin2@gmail.com
	name = Chris Morin
[diff]
	tool = meld
[merge]
	tool = meld
[alias]
    co = checkout
    br = branch
    st = status
    lg=log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    dt=difftool --no-prompt
    dd=difftool --dir-diff
[oh-my-zsh]
	hide-status = 1
